* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: black;
}

header {
  height: 185px;
}

.center img {
  display: block;
  max-width: 100%;
  width: 600px;
  margin: 5px auto;
}

.character-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  margin: 0 auto;
  width: 80%;
  max-width: 100%;
  padding-bottom: 20px;
}

.character-card {
  width: 150px;
  max-width: 100%;
  height: 200px;
  border-radius: 10px;
  border: 1px solid yellow;
  position: relative;
  /* Preserve 3D works by maintaining the 3D space for child elements */
  transform-style: preserve-3d;
  cursor: grab;
}

.character-card:active {
  cursor: grabbing;
}

.img-char-container {
  width: 100%;
  height: 80%;
  border-radius: 5px;
}

.img-char-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.name {
  white-space: nowrap;
  overflow: hidden;
  font-size: 1rem;
  text-overflow: ellipsis;
  margin: 3px 0;
}

.species {
  color: #615c5c;
  font-weight: 500;
}

.card-face {
  position: absolute;
  inset: 0;
  border-radius: 10px;
  padding: 5px;
  /* Backface visibility is a CSS property that 
  controls whether an element is visible when facing away from the user */
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  background-color: white;
  text-align: center;
}

.card-back {
  transform: rotateY(180deg);
  justify-content: center;
  gap: 8px;
}

.card-details {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card-details li {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 6px;
}

.label {
  color: #888;
  font-weight: 500;
}

.value {
  color: #222222;
  font-weight: 400;
  text-align: right;
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dead {
  color: red;
}

.alive {
  color: green;
}

.pagination {
  width: 100%;
  margin: 0px auto;
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.pagination-button {
  width: 100px;
  height: 50px;
  font-size: 1.2em;
  border-radius: 5px;
  font-weight: 800;
  color: black;
  border: 1px solid black;
  background-color: teal;
  padding: 10px 15px;
}

.pagination-button:first-child:hover,
.pagination-button:last-child:hover {
  transition: 0.2s ease-in;
  transform: translateY(-1px);
  filter: brightness(80%);
}

button:disabled {
  filter: brightness(50%);
  cursor: not-allowed;
}
